/* Enter Custom CSS Below Here */

/* PREVENT HEADER RESIZE

.navbar.fixed .navbar-brand img { height: 52px !important; }
.navbar.fixed .navbar-nav > li > a {
    padding: 35px 14px !important;
}

*/

.service-wrapper figure {
    margin-right: 10px;
}
.service-wrapper .share {
    text-align: left !important;
}

@media (max-width: 767px) {
    .inner {
        padding-top: 5px;
    }

    .container {
        padding-right: 10px;
        padding-left: 10px;
    }
}